/* google fonts */
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);

/* Space out content a bit */
html{}

body {
  margin-top: 0;
  font-family: 'Muli', sans-serif;
  width:100%;
  /*overflow-y: hidden;*/
  height:100%;
}

.noBullet {
  list-style-type: none;
}
/*BEERME---------------This is the syling for the index & main view------------------BEERME*/

.beerImage:hover, .yourRatingStars:hover, .singleBeerImg:hover {
  cursor: pointer;
} 



.mainElement{
  /*height:calc(100% - 51px);*/
  height: 750px
}

.mainViewContainer {
  width:40%;
  margin: auto;
  margin-top: 10%;
  padding:15px;
  border:3px solid #535553;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
}

.mainViewContainer .centerbox {
  text-align: center;
}

.imgDiv{
  padding:10px;
  width: 100%;
  height:100%;
  background: url('../../images/bottles-203838_1280.jpg');
  background-size: cover;
  opacity: .75;
  z-index: 0;
}

.index {
  margin-left: 20px;
}

.clearfix{
  height:2px;
  width:60%;
  margin:auto;
  background-color: rgba(136, 203, 175, .2);  
}

h3 {
  margin-top: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}


/*BEERME---------------Recommendation page styling-----------------BEERME*/


.loadingText{
  position: center;
}

.recommendationImage{
  float: left;
  cursor: pointer;
  cursor: hand;
}

.recommendationText{
  margin-left: 100px;
  cursor: pointer;
  cursor: hand;
  width: 50%;
}

.recommendationContainer {
  margin-left: 20px;
}

.recsDivider {
  height:2px;
  width:60%;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgba(9, 36, 119, .3);  
}


/*BEERME---------------Questionnaire page styling-----------------BEERME*/

.surveyHead {
  width:500px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.beerImage {
  max-width: 300px;
  max-height: 300px;
  border: none;
}

.beerImageBox{
  width:300px;
  height:300px;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ratingContainer {
  width: 600px;
  text-align: center;
}
/*------Ratings directive styling-----------*/

.stars {
  font-size: 55px;
  outline: none;
}

/*BEERME---------------User page styling-----------------BEERME*/

.userContainer {
  margin-left: 20px;
}

.headline {
  margin-bottom: 20px;
}

/*BEERME---------------Search Directive styling-----------------BEERME*/

.searchBlock {
  display: inline-block;
  margin-right: 20px;
}

/*BEERME---------------Search Results styling-----------------BEERME*/

.filterBlock {
  margin-left: 10px;
  margin-bottom: 10px;
}

/*BEERME---------------Single Beer View styling-----------------BEERME*/

.singleBeerImg {
  float: left;
}

.singleBeerText {
  display: inline-block;
  height: 512px;
  width: 512px;
  margin-left: 20px;
  margin-top: 100px;
}

.description {
  margin-bottom: 20px;
}

.similarBeerButton {
  margin-top: 10px;
}


/*------------------------BEERME LOADING ANIMATION-----------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:700,900);

/*body { background-color: #0e83cd }*/

.onBottom {
  display: none;
}

.sign {
  margin: 0 auto;
  width: 400px;
  font-size: 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: whiteSmoke;
}

#container {
  background-color: #0e83cd;
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -20px;
  width: 500px;
  border-radius: 10px;
}

#container div { position: absolute; }

.pour {
  position: absolute;
  left: 48%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px
}

#beaker {
  border: 10px solid #FFF;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 145px;
  bottom: 0;
  width: 200px;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -30px;
  width: 30px;
}

#beaker:before { left: -30px; }
#beaker:after { right: -30px; }

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 180px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
}

/* Foam */

.beer-foam {
  position: absolute;
  bottom: 10px;
}

.foam-1, .foam-2, .foam-3, .foam-4, 
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px; 
}
.foam-3 {
  top: -25px;
  left: 50px; 
}
.foam-4 {
  top: -35px;
  left: 80px; 
}
.foam-5 {
  top: -30px;
  left: 110px; 
}
.foam-6 {
  top: -20px;
  left: 140px; 
}
.foam-7 {
  top: -30px;
  left: 160px;
}

/* Drunk Text */

.animated {
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
          animation-fill-mode:both;
  
  -webkit-animation-duration:7s;
     -moz-animation-duration:7s;
          animation-duration:7s;
  
  -webkit-animation-delay:3.5s; 
     -moz-animation-delay:3.5s;
          animation-delay:3.5s;
}


.animated.drunk {
  -webkit-animation-duration:4s;
     -moz-animation-duration:4s;
          animation-duration:4s;
}

@-webkit-keyframes drunk {
  0% { 
    -webkit-transform: rotate(0); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  }
  
  20%, 60% { 
    -webkit-transform: rotate(80deg); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  } 
  40% { 
    -webkit-transform: rotate(60deg); 
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out; 
  } 
  
  80% { 
    -webkit-transform: rotate(60deg) translateY(0);  
    -webkit-transform-origin: top left; 
    -webkit-animation-timing-function: ease-in-out;
    opacity: 1;
  } 
  
  100% {
    -webkit-transform: translateY(700px); 
    opacity: 0; 
  }
}

@-moz-keyframes drunk {
  0% { 
    -moz-transform: rotate(0); 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }
  
  20%, 60% { 
    -moz-transform: rotate(80deg); 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  } 
  
  40% { 
    -moz-transform: rotate(60deg); 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }
  
  80% {
    -moz-transform: rotate(60deg) translateY(0); opacity: 1; 
    -moz-transform-origin: top left; 
    -moz-animation-timing-function: ease-in-out; 
  }
  
  100% { 
    -moz-transform: translateY(700px); 
    opacity: 0; 
  }
}

@keyframes drunk {
  0% { 
    transform: rotate(0); 
    transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }
  
  20%, 60% { 
    transform: rotate(80deg); 
    transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }
  
  40% { 
    transform: rotate(60deg); 
    transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  }
  
  80% { 
    transform: rotate(60deg) translateY(0); 
    opacity: 1; transform-origin: top left; 
    animation-timing-function: ease-in-out; 
  } 
  100% { 
    transform: translateY(700px); 
    opacity: 0; 
  }
}

.drunk {
  -webkit-animation-name: drunk;
  -moz-animation-name: drunk;
  animation-name: drunk;
}


/*--------------------end of beer pour animation--------------------------*/







/*----------------------------*/
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  line-height: 30px;
  padding-bottom: 10px;
  margin-left:5px;
  margin-top:5px; 
}

.header .logo {
  float:left;
  margin:0;
  margin-top: 5px;
  left:5px;
  top:-2.5px;
}

/*----------------------------*/

/* Custom page footer */
.footer {
  /*visibility:hidden;*/
  padding-top:15px;
  color: #777;
  height:40px;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .mainContainer {
    width: 110%;
    color:black;
    transform: translate(-2.5%, 0);
  }
  .container {
    width:80%;
  }
}

.container-narrow > hr {
  margin: 10px 0;
}
/*BEERME--------------Input fields and buttons formatting-------------------BEERME*/

.input {
  background-color: #F5F2EB;
  width:250px;
  font-size: 12px;
  padding-top:5px;
  padding-left:5px;
  font-family: 'Muli', sans-serif;
}

.input::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
.input:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
.input::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 color: #d0cdfa; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
} 
.input:-ms-input-placeholder { 
 font-size: 14px; 
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

.entryButton {
  width: 50%; 
  height: 32px; 
  color: #3A3B3A; 
  font-size: 13px;
  background-color: #D9CDB8;
  border-radius: 5px;
  border: none;
  clear: left; 
  padding-top:8px;
  margin-bottom: 15px;
  -webkit-transition: border-radius .35s ease;
       -o-transition: border-radius .35s ease;
          transition: border-radius .35s ease;
}
/*.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #D9CDB8;
  border: 2px solid #D9CDB8;
  background-color: #535553;
  border-radius:5px;
  padding-top:6px;
  -webkit-transition: border-radius .35s ease;
       -o-transition: border-radius .35s ease;
          transition: border-radius .35s ease;
}*/


/* -------------- Styling for main.html -------------- */

  /* main page background image */


/* -- Main page welcome container -- */


/* Welcome container divider and paragraph */

.centerbox > p {
  width:85%;
  margin:15px auto;
}

/* Welcome container search bar*/
.searchBar{
  display:inline-block;
  margin:10px;
  border:none;
  border:1px solid #F5F2EB;
  background-color: white;
}
.searchBarButton{
  color:rgba(136, 203, 175, 1);
  background-color: rgba(136, 203, 175, .15);
  border:1px solid rgba(136, 203, 175, .9);
  border-radius: 2px;
  height:25px;
  margin-left:0px;
}
.searchBarInput{
  color:black;
}
.searchBarInput:active,
.searchBarInput:hover,
.searchBarInput:focus{
  border:1px solid #dcd1b8;
}
.searchBar:active,
.searchBar:hover,
.searchBar:focus{
  outline:none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ede7da;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ede7da;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ede7da;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ede7da;
}

/* -------------- Styling for Search Results -------------- */

.SearchResultsContainer{
  /*text-align: center;*/
  width:100%;
  height:450px;
  margin:auto;
}

.beerImageContainer {
  width: 1000px;
  height: 350px;
  
}

.beerImage {
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px;
}

.beerText {
  margin-left: 300px;
  padding-top: 50px;
}

















.SearchResultsForm{
  display:inline-block;
}
.SearchResultsHeader {
  padding:15px;
}

/* Search bar */
.SearchResultsContainer .searchBarInput {
  color:black;
  border:2px solid rgba(237, 231, 218, 1);
  border-radius:0;
  height: 35px;
  transform: translate(0, 2px);
  margin-left: 5px;
}
.SearchResultsContainer .searchBarButton {
  height: 30px;
  border: none;
  background-color: rgba(136, 203, 175, .15);
  border-radius: 0;
}

/* Button group search filters */
button.dropdown-toggle {
  color:black;
  border-radius: 0;
  margin-left:0px;
  margin-right:0px;
  background-color: rgba(237, 231, 218, .3);
  border: 4px solid rgba(237, 231, 218, 1);
  
}
.btn-group > .btn:last-child:not(:first-child), 
.btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0px;
  }

.SearchResultsHeader > .btn-group > .dropdown-menu{
  background-color: white;
  width:200px;
  padding:10px;
  margin:0;
}
.btn-group.open .dropdown-toggle{
  box-shadow: none;
}
.btn-default:hover,
 .btn-default:focus,
 .btn-default:active,
 .btn-default.active,
 .open > .dropdown-toggle.btn-default {
  background-color: rgba(237, 231, 218, .7);
  border-color:rgba(237, 231, 218, 1);
 }

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
  background-color: rgba(237, 231, 218, .5);
  box-shadow: 0 0 20px rgba(237, 231, 218, 1);
}

.dropdown-menu > li > a {
  color:black;
  padding: 0 10px;
}

.SearchResultsContainer > .clearfix {
  background-color:#e7e7e7; 
  height:1px;
  width:80%;
}

/* Search Results */
.allSearchResults{
  margin-top: 30px;
}
.SearchResultsImages {
  display:inline-block;
  width:20%;
  margin:20px;
  margin-top: 40px;
  padding:20px;
  border:8px solid rgba(0, 0, 0, .05)
}
.resultImage{
  padding: 4px;
  border:4px double rgba(237, 231, 218, 1);
  max-height: 200px;
  max-width: 200px;
}
.artInfo{
  padding-top: 5px;
  font-size: 12px;
}
.footer{
  text-align:center;
}

/* -------------- Styling for ArtView -------------- */

/* Art */


/* Like Button */
form.likeButtonForm {
  width:400px;
  text-align: center;
  margin:auto;
  padding: 25px;
  padding-left: 0;
  margin-bottom: 20px;
  height:50px;
}
form.likeButtonForm > input[type=text] {
  margin-right: 10px;
  margin-top:18px;
  height:40px;
  font-size: 12px;
  padding: 5px;
}
form.likeButtonForm > input[type=submit] {
  background-color: rgba(136, 233, 175, 1);
  outline: none;
  border:0;
  border-radius: 2px;
  box-shadow: 0px 4px 0px rgba(9, 178, 109, 1);
  height:40px;
  color:white;
}
form.likeButtonForm > input[type=submit]:active {
  outline: none;
  box-shadow: 0px 2px 0px rgba(9, 178, 109, 1);
  transform: translate(0, 2px);
}
.likeButton {
  width:150px;
}

.likeButtonClass {
  background-color: rgba(136, 233, 175, 1);
  outline: none;
  border:0;
  border-radius: 2px;
  box-shadow: 0px 4px 0px rgba(9, 178, 109, 1);
  height:40px;
  color:white;
  width:150px;
}

/* -------------- Styling for UserPage -------------- */

.centerBanner{
  width:60%;
  margin:30px auto;
  text-align: center;

}

.centerBanner > h2,
.centerBanner > form{
  display: inline-block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
/**/