 <div class='imgDiv'>
  <div class="mainViewContainer">
  
    <div class="centerbox">

      <h2>Beer Me!</h2>
    
        <div class="clearfix"></div>

          <p>Discover tasty new brews that we know you'll love.</p>
          <input type="input" placeholder="Enter username" ng-model="userName">
          <input type="password" placeholder="Enter password" ng-model="password">
          <button ng-click="login(userName,password)">Login</button>
          <button ng-click="signup(userName, password)">Sign up</button>
    </div>
  </div>
</div>