 <div class='imgDiv'>
  <div class="mainViewContainer">
  
    <div class="centerbox">

      <h2>Beer Me!</h2>
    
        <div class="clearfix"></div>

          <p>Discover tasty new brews that we know you'll love.</p>
          <form role="form">
            <div class="form-group">
              <input type="input" class="form-control" placeholder="Enter username" ng-model="userName">
              <input type="password" class="form-control" placeholder="Enter password" ng-model="password">
            </div>
          </form>
          <button class="btn btn-primary btn-sm" ng-click="login(userName,password)">Login</button>
          <button class="btn btn-primary btn-sm" ng-click="signup(userName, password)">Sign up</button>
    </div>
  </div>
</div>

<div class="footer">
  <p> Created 2014 at Hack Reactor by the beer people. </p>
</div>

