
<search></search>

  <div ng-class="{onBottom: !loading}" id="container">
	  <div class="pour"></div>
	  <div id="beaker">
	    <div class="beer-foam">
	      <div class="foam-1"></div>
	      <div class="foam-2"></div>
	      <div class="foam-3"></div>
	      <div class="foam-4"></div>
	      <div class="foam-5"></div>
	      <div class="foam-6"></div>
	      <div class="foam-7"></div>
	    </div>
	    <div id="liquid">
	      <div class="bubble bubble1"></div>
	      <div class="bubble bubble2"></div>
	      <div class="bubble bubble3"></div>
	      <div class="bubble bubble4"></div>
	      <div class="bubble bubble5"></div>
	    </div>
  	</div>
	<h2 class="animated drunk sign">Loading...</h2>
	</div>

	<div ng-if="beername && !loading">
		<img class="singleBeerImg" ng-if="imgUrl != 'undefined' && imgUrl != undefined" ng-src="{{imgUrl}}"/>
		<div class="singleBeerText">
			<div><strong>{{beername}}</strong></div>
			<div ng-if="abv !='undefined' && abv != undefined"><strong>ABV: </strong>{{abv}}</div>
			<div ng-if="ibu != 'undefined' && ibu != undefined"><strong>IBU: </strong>{{ibu}}</div>
			<div class="description" ng-if="description != 'undefined' && description != undefined"><strong>Description: </strong>{{description}}</div>

			<div ng-if="userRating == undefined"><em><strong>Have you tried this one yet?  Rate it!</em></strong></div>
			<div ng-else-if="userRating === 1"><em><strong>You gave this beer {{userRating}} star. Changed your mind? Rate it again.</em></strong></div>
			<div ng-else><em><strong>You gave this beer {{userRating}} stars. Changed your mind? Rate it again.</em></strong></div>
			
			<!-- <rating ng-model="beer.Recommendation" max="userRating" readonly="false"></rating> -->
			
			<your-rating class="yourRatingStars" beer-to-be-rated="beername"></your-rating>
			<button class="btn btn-primary similarBeerButton"ng-click="getAllBeers(ibu, abv, description)">Show Me Similar Beers</button>
		</div>
	<div ng-if="beername === ''">
		This beer doesn't exist
	</div>

</div>


