
<search></search>

	<div ng-if="beername">
		<img class="singleBeerImg" ng-if="imgUrl != 'undefined' && imgUrl != undefined" ng-src="{{imgUrl}}"/>
		<div class="singleBeerText">
			<div><strong>{{beername}}</strong></div>
			<div ng-if="abv !='undefined' && abv != undefined">abv: {{abv}}</div>
			<div ng-if="ibu != 'undefined' && ibu != undefined">ibu: {{ibu}}</div>
			<div ng-if="description != 'undefined' && description != undefined">description: {{description}}</div>
			<your-rating beer-to-be-rated="beername"></your-rating>
		</div>
	<div ng-if="beername === ''">
		This beer doesn't exist
	</div>

</div>


