<h2> Help us get to know you and figure out what you like.  Give each beer 1-5 stars.  If you haven't had it, that's ok. Just skip it and move on.</h2>

<div class="beerImage"></div>

<div class="beerInfo"></div>

<button class="likeButtonClass" ng-click="like()">Like</a>
<button class="likeButtonClass" ng-click="nextbeer()">Next Beer</a>


<!-- <div class="btn-group">
  <button type="button" class="btn btn-default">1<span class="glyphicon glyphicon-star"></span></button>
  <button type="button" class="btn btn-default">2<span class="glyphicon glyphicon-star"></span></button>
  <button type="button" class="btn btn-default">3<span class="glyphicon glyphicon-star"></span></button>
  <button type="button" class="btn btn-default">4<span class="glyphicon glyphicon-star"></span></button>
  <button type="button" class="btn btn-default">5<span class="glyphicon glyphicon-star"></span></button>
</div>

 -->
  