<div class='container'>
  <h2 class='surveyHead center-block'> Help us get to know you and figure out what you like.  Give each beer 1-5 stars.  If you haven't had it, that's ok. Just skip it and move on.</h2>


  <div class="beerImageBox center-block">
    <img class="beerImage" ng-src="{{imgUrl}}"/>
  </div>

  <div class="ratingContainer center-block">
    <h4>My Rating</h4>
    <rating class="stars center-block"  ng-model="rate" max="5" readonly="false"></rating>

    <button class="likeButtonClass" ng-click="nextbeer()" ng-if="!message">Next Beer</button>
    <strong>{{message}}</strong>

  <button ng-click="goToRecommendations()" class="likeButtonClass" ng-show="message!=null">See Recommendations</button>
  </div>
  

</div>

<!-- This pre-loads the images in the background so they load faster.  -->
<img ng-repeat="beer in questCtrl.questionnaire.initialBeers" ng-src="{{beer.imgUrl}}" ng-hide="true"/>



  