

<div class="recommendationContainer" ng-repeat="beer in recommendationsList">
	<div class="recommendationImage">
		<img ng-src="{{beer.beer.iconUrl}}"/>

<h1>
Recommendations!
</h1>

<!-- Assuming data comes like this (NEED TO ADD BREWERY):
[{name: 'name', brewery: 'brewery' ibu: 'ibu', abv: 'abv', description: 'description', imgUrl: 'imgUrl', recommendationRating: 'recRating'}]
So each object in array is a "beer" in "beer in recommendationsList"
 -->
<table>
	<tr ng-repeat-start="beer in recommendationsList">
		<th rowspan="2"><img ng-src="{{beer.imgUrl}}"/></th>
	  <td><strong>{{beer.name}}</strong></td>
	  <td>ABV: {{beer.abv}}</td>
	  <td>IBU: {{beer.ibu}}</td>
	</tr>
	<tr ng-repeat-end>
		<td><em>{{beer.brewery}}</em></td>
	</tr>
</table>

	</div>
	<div class="recommendationText">
		<ul>
			<li><strong>{{beer.beer.name}}</strong></li>
			<li>abv: {{beer.beer.abv}}</li>
			<li>ibu: {{beer.beer.ibu}}</li>
			<li>description: {{beer.beer.description}}</li>
			<li>brewery: {{beer.beer.brewery}}</li>
			<li>Recommendation: {{beer.recommendation}}</li>
		</ul>
	</div>
</div>
