
<div class="recommendationContainer">

<div>
	<search></search>
	<form role="form" class="form-inline">
	  <input class="form-control filterBlock" type="filter" ng-model="filter" placeholder="Filter recommendations">
	</form>
</div> 

<h1>
Hey, {{userName}}. Here are some recommendations for you.
</h1>

<div class="loadingText" ng-if="recommendationsList.length === 0">
	<strong>Loading...</Strong>
</div>

<div ng-repeat="beer in recommendationsList | filter: filter">
	<div class="recommendationImage" ng-click='clicked(beer.Beer.name)'>
		<img ng-src="{{beer.Beer.iconUrl}}"/>
	</div>
	<div class="recommendationText">
		<ul class="noBullet">
			<li><strong><em>{{beer.Beer.name}}</em></strong></li>
			<li ng-if="beer.Beer.abv !='undefined'"><strong>ABV: </strong>{{beer.Beer.abv}}</li>
			<li ng-if="beer.Beer.ibu !='undefined'"><strong>IBU: </strong>{{beer.Beer.ibu}}</li>
			<li ng-if="beer.Beer.website !='undefined'"><strong>Website: </strong><a href="{{beer.Beer.website}}"> {{beer.Beer.website}}</a></li>
			<!-- <li ng-if="beer.Beer.description !='undefined'">description: {{beer.Beer.description}}</li> -->
			<!-- <li ng-if="beer.Beer.brewery !='undefined'">brewery: {{beer.Beer.brewery}}</li> -->
			<li><strong>Our guess for you: </strong><rating ng-model="beer.Recommendation" max="5" readonly="true"></rating></li>
	    <your-rating class="yourRatingStars" beer-to-be-rated="beer.Beer.name"></your-rating>
	  </ul>
	</div>
	<div class="recsDivider"></div>
</div>

<pagination ng-show="pageCount()>1" ng-class="{onBottom: loading}" total-items="totalItems" ng-model="currentPage" items-per-page="7" max-size="10" ng-change="pageChanged()"></pagination>

</div>
