
<div ng-controller="searchCtrl">
	
	<input type="text" class="searchBar" ng-model="searchTerms" placeholder="Search for a beer">
	<input type="submit" ng-click="submitSearch(searchTerms)">
</div>
<!-- <div ng-if="2===2"> -->
	<div ng-class="{onBottom: !loading}" id="container">
	  <div class="pour"></div>
	  <div id="beaker">
	    <div class="beer-foam">
	      <div class="foam-1"></div>
	      <div class="foam-2"></div>
	      <div class="foam-3"></div>
	      <div class="foam-4"></div>
	      <div class="foam-5"></div>
	      <div class="foam-6"></div>
	      <div class="foam-7"></div>
	    </div>
	    <div id="liquid">
	      <div class="bubble bubble1"></div>
	      <div class="bubble bubble2"></div>
	      <div class="bubble bubble3"></div>
	      <div class="bubble bubble4"></div>
	      <div class="bubble bubble5"></div>
	    </div>
  	</div>
	<h2 class="animated drunk sign">Fill'er Up Barkeeper!</h2>
	</div>
<!-- </div> -->
<div class "searchResultsContainer" ng-repeat= "beer in beerResults">
	<div class="beerImage" ng-click='clicked(beer.name)'> 
		<img ng-src="{{beer.imgUrl}}"/>
	</div>
	<div class="beerText">
		<ul>
			<li><strong>{{beer.name}}</strong></li>
			<li>abv: {{beer.abv}}</li>
			<li>ibu: {{beer.ibu}}</li>
			<li>description: {{beer.description}}</li>
			<li>brewery: {{beer.brewery}}</li>
			<li>website: {{beer.webiste}}</li>
		</ul>
	</div>
	<your-rating beer-to-be-rated="beer.name"></your-rating>
</div>