<div class="userContainer">

<h1>{{userName}}'s Page!</h1>

<search></search>

<button class="btn btn-primary btn-sm" ng-click="goToRecommendations()">See My Recommendations!</button>
<h2>Check out the Beers you've rated!</h2>
<div ng-repeat="rating in userLikes track by $index">

	<h2>Rating: {{5 - $index}}</h2>
	<div ng-repeat="beer in rating">
		<div class="beerImage">
			<img ng-src="{{beer.iconUrl}}"/>
		</div>
		<ul>
			<li><strong>{{beer.name}}</strong></li>
			<li>abv: {{beer.abv}}</li>
			<li>ibu: {{beer.ibu}}</li>
			<li>description: {{beer.description}}</li>
			<li>brewery: {{beer.brewery}}</li>
			<li>website: {{beer.webiste}}</li>
		</ul>
	</div>
</div>

</div>

